/* custom props */
:root {
  /* palette */
  --viewport-top-bg: #009688;
  --viewport-bottom-bg: #dbdbd2;
  --header-bg: #eaeaea;
  --icon-color: #b1b1b1;
  --notifacation-bg: #8edafc;
  --notification-icon-bg: #f2fbff;
  --chats-section-bg: #fafafa;
  --chat-hover-bg: #e9ebeb;
  --text-secondary: #c5c2c3;
  --active-comands-bg: #f3eeea;
  --active-comands-icon: #656e73;
  --reiceved-msg-bg: #ffffff;
  --sent-msg-bg: #d5f9ba;
}

/* ! generics */

body {
  font-family: Lato, Arial, Helvetica, sans-serif;
}

i {
  cursor: pointer;
}

.img-rounded {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: aquamarine;
}

.img-rounded img {
  object-fit: cover;
  width: 100%;
}

#app figure {
  margin-bottom: 0;
}

/* ! viewport */
.viewport {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to bottom,
    var(--viewport-top-bg) 15vh,
    var(--viewport-bottom-bg) 15vh
  );
}

/* ! app */
#app {
  height: 850px;
  width: 1600px;
  display: flex;
  overflow: hidden;
}

#app .app-chats {
  width: 35%;
}

#app .app-active {
  flex-grow: 1;
}

/* ! chats-section */

/* ? header */
.chats-header,
.active-chat-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--header-bg);
}

.chats-header {
  height: 82px;
  border-right: 1px solid #d6d6d6;
}

.chats-header i,
.active-chat-header i {
  font-size: 1.5rem;
  color: var(--icon-color);
}

/* ? notification */
#app .chats-notification {
  height: 92px;
  display: flex;
  align-items: center;
  background-color: var(--notifacation-bg);
}

.chats-notification .img-rounded {
  background-color: var(--notification-icon-bg);
  color: var(--notifacation-bg);
}

.chats-notification .img-rounded > i {
  cursor: auto;
  font-size: 1.5rem;
  font-weight: bold;
}

.chats-notification a {
  color: rgb(131, 130, 130);
}

/* ? search input */

.chats-search {
  height: 55px;
  display: flex;
  align-items: center;
  background-color: var(--chats-section-bg);
  border-bottom: 1px solid #d6d6d6;
}

#basic-addon1 {
  color: var(--icon-color);
  background-color: #fff;
}

/* ? chats-container */
.chats-container {
  height: calc(100% - 82px - 92px - 55px);
  overflow: auto;
  background-color: var(--chats-section-bg);
}

/* ? chats */
#app .chat {
  padding: 0.8rem 1.5rem;
  display: flex;
  cursor: pointer;
  border-bottom: 1px solid #d6d6d6;
}

#app .chat:hover {
  background-color: var(--chat-hover-bg);
}

#app .chat .img-rounded {
  width: 70px;
}

.chat-text .chat-name,
.chat-text .chat-preview,
.chat-title,
.chat-access {
  margin-bottom: 0;
}

.chat-preview,
.chat-time {
  color: var(--text-secondary);
  font-weight: bold;
  word-wrap: break-word;
}

.chat-time {
  flex-shrink: 0;
  font-size: 0.7rem;
  align-self: flex-start;
}

/* ! active chat section */

/* ? active chat header */

.active-chat-header {
  height: 82px;
  width: 100%;
}

/* ? active chat */
.active-chat-header .chat-title {
  color: black;
}

.active-chat {
  height: calc(100% - 82px - 80px);
  padding: 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-image: url(../img/mine.jpg);
  overflow: scroll;
}

/* | messages */
.active-chat .message {
  position: relative;
  padding: 0.5rem 0;
  min-width: 300px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  color: #222;
  word-wrap: break-word;
}

.div-prova {
  position: absolute;
  padding: 1rem;
  background: white;
  right: 0;
  top: 40px;
  z-index: 1;
}

.message.sent {
  align-self: flex-end;
  background-color: var(--sent-msg-bg);
}

.message.received {
  align-self: flex-start;
  background-color: var(--reiceved-msg-bg);
}

.message-menu-icon {
  position: absolute;
  visibility: hidden;
  align-self: flex-end;
  padding-right: 0.5rem;
}

.message:hover .message-menu-icon {
  visibility: visible;
}

.message-txt {
  padding: 0.5rem 1rem;
}

.message-time {
  padding-right: 0.5rem;
  align-self: flex-end;
  font-size: 0.7rem;
  color: var(--active-comands-icon);
}

/* ? active comands */
.active-comands {
  padding: 10px 3rem;
  height: 80px;
  display: flex;
  align-items: center;
  background-color: var(--active-comands-bg);
}

#app .active-comands .message-input {
  padding: 1rem;
  flex-grow: 1;
  margin: 0 3rem;
  border: 0;
  border-radius: 10px;
}

.active-comands i {
  font-size: 1.7rem;
  color: var(--active-comands-icon);
}
